*, *:before, *:after{
  box-sizing: border-box;
}

body{
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-size:17px;
  line-height: 20px;
}
.container{
  margin:0 auto;
  width: 375px;
}
header{
  position:fixed;
  z-index: 2000;
  width:375px;
}
nav{
  display:block;
  background-color:#FBE592;
  height:auto;
}
img{
  width:375px;
  height:auto;
}
.fa-chevron-left, .navigationbar-text{
  margin-left: 2%;
  position:relative;
  top:10px;
}
.navigationbar-title{
  position:relative;
  bottom:10px;
  font-size: 1em;
  font-weight:bold;
  text-align:center;
}
.fa-ellipsis-h{
  position:relative;
  float:right;
  margin:6%;
  bottom:52px;
}

ul{
  width:375px;
  height:auto;
}

li{
  display:inline-block;
}

.bus-lists{
  position:relative;
  top:40px;
}
.line{
  position:relative;
  top:25px;
  padding:3%;
  height:70px;
  border-bottom: solid 1px lightgrey;
}
.bus-number {
  font-size:1.17em;
  font-weight: normal;
  text-align:center;
  color:white;
  background-color:#D9920B;
  width:50px;
  border-radius:0.2em;
  padding:1% 0;
  margin:0 0 3% 0;
}


.time{
  position:relative;
  float:right;
  color:#A66321;
  text-align:right;
  right:20px;
}
.arrival-time{
  font-weight:700;
  font-size:1.4em;
  line-height:1.2em;
}
.fa-chevron-right{
  position:absolute;
  right:10px;
  top:26px;
  color: lightgrey;
}

.reroute{
  background-color:#009f77;
  color:white;
  font-size:0.76em;
  padding:3%;
  height:auto;
}
.title{
  font-size:1.3em;
}
.reroute-time{
  position:relative;
  float:right;
  color:#A66321;
  right:20px;
  top:10px;
}

.out-of-service{
  background-color:#BA3C3C;
  color:white;
  font-size:0.76em;
  padding:3%;
  height:auto;
}
ul.active-line:hover{
  background-color:rgba(251, 229, 146, 0.2);
}
ul.reroute-line:hover{
  background-color:rgba(0, 159, 119, 0.2);
}

ul.out-of-service-line:hover{
  background-color:rgba(186, 60, 60, 0.2);
}
