*, *:before, *:after{
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
  font-size:17px;
  line-height: 20px;
}
.container{
  margin:0 auto;
  width: 375px;
}
header{
  position:fixed;
  z-index: 2000;
  width:375px;
}
nav{
  display:block;
  background-color:#FBE592;
  height:40px;
}
.fa-chevron-left, .navigationbar-text{
  margin-left: 2%;
  position:relative;
  top:10px;
}
.navigationbar-title{
  position:relative;
  bottom:10px;
  font-size: 1em;
  font-weight:bold;
  text-align:center;
}
.fa-ellipsis-h{
  position:relative;
  float:right;
  margin:6%;
  bottom:52px;
}

ul{
  display:inline;
}
h1{
  font-size:1.4em;
}
li{
  display: inline-block;
  padding:0 1.2%;
  border-radius:3px;
  text-align:center;
}
.brown{
  color:white;
  background-color: #CF970A;
}
.bus-lists{
  display:block;
  position:relative;
  top:15px;
}
.line{
  position:relative;
  background-color:#f2f2f2;
  top:25px;
  padding:5%;
  height:100px;
  border-bottom: solid 1px lightgrey;
}
.bus-number {
  font-weight: bold;
  text-align:center;
  width:50px;
  border-radius: 4px;
  padding:2% 0;
  margin:0 0 4% 0;
}

.time{
  color:#A66321;
  position:relative;
  float:right;
  margin:5%;
  bottom:80px;
  width:90px;
  height:50px;
  text-align:center;
}
.arrival-time{
  font-weight:bold;
  font-size:1.3em;
  line-height:2em;
  text-align:center;
}
.fa-chevron-right{
  position:relative;
  float:right;
  margin-right:0%;
  bottom:40px;
  color: lightgrey;
}
.reroute{
  background-color:#009f77;
  color:white;
  font-size:0.76em;
  padding:3%;
  height:auto;
}

.out-of-service{
  background-color:#BA3C3C;
  color:white;
  font-size:0.76em;
  padding:3%;
  height:auto;
}
div.active-line:hover{
  background-color:rgba(251, 229, 146, 0.2);
}
div.reroute-line:hover{
  background-color:rgba(0, 159, 119, 0.2);
}

div.out-of-service-line:hover{
  background-color:rgba(186, 60, 60, 0.2);
}
